<h1>Can You Match These Design Patterns?</h1>
<h3>Who Does What?</h3>

<table class="table table-striped" *ngIf="patterns">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Pattern</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pattern of patterns;">
      <td scope="row" id="{{pattern.id}}">
        <p class="{{correct(pattern.id)}}">
          <i style="color:green;" class="fas fa-check-circle fa"></i>
        </p>
        <p class="{{wrong(pattern.id)}}">
          <i style="color:red;" class="fas fa-times-circle fa"></i>
        </p>
      </td>
      <td>
        <select style="width:200px" class="is-invalid" *ngIf="patterns" [(ngModel)]=selectedOption[pattern.id]>
          <option value=""></option>
          <option *ngFor="let p of remainingPatterns(pattern.id)" value={{p.id}}>
            {{p.name}} 
          </option>
        </select>
      </td>
      <td>{{pattern.description}}</td>
    </tr>
  </tbody>
</table>

<button (click)="submit()" [disabled]="disableSubmit()" type="button" class="btn btn-primary">Submit</button> <span *ngIf="disableSubmit()"> Please choose a pattern for all the descriptions</span>

<div class="jumbotron" style="margin-top: 2em; text-align: center;" *ngIf="result">

  <p class="lead">{{result}}</p>

  <hr>

  <h5 class="display-4"> Tell me and</h5>
  <h4 class="display-2"> I forget </h4>
  <br>
  <h5 class="display-4"> Teach me and</h5>
  <h4 class="display-2"> I remember </h4>
  <br>
  <h5 class="display-4"> Involve me and</h5>
  <h4 class="display-2"> I learn </h4>

</div>